/* ########--- THIS SETTING CONTAINS GLOBAL VARIABLE AND CLASS FORO THIS SITE ---######### */

/* GLOBAL VARIABLE */
:root {
    --bg-color: white;
    --primary-color: #01b0f1;
    --secondary-color: cornflowerblue;
    --container-color: antiquewhite;
    --headerFont-color: white;
    --paginationFont-color: white;
    --modalbg-color: bisque;

    /* BORDER */
    --container-border: 1px solid black;
    --header-border: 2px solid white;
    --subcontainer-border: 2px solid white;
    --box-border: 2px solid white;
    --input-border: 1px solid gray;

    /* BUTTON */
    --btnAdd-color: lightgreen;

    /* TABLE */
    --table-borderAround:2px solid white;
    --table-rowEvenBackground: rgb(203, 220, 177);
    --table-rowOddBackground: rgb(213, 196, 178);
}

/* Reset browser */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    background-color: var(--bg-color);
}

label {
    /* color: white; */
    font-size: 0.9rem;
    margin-right:2px;
    padding: 0px;
    text-align: end;
}

/* ALL INPUT DEFAULT */
input[type=text],
input[type=number],
input[type=date],
select {
    width: 100%;
    height: 28px;
    /* font-size: .9rem; */
    /* font-size: 1.1rem; */
    font-size: 0.9em; 
    border: var(--input-border);
    border-radius: 4px;
    padding: 4px 6px;
}


input[type=number]{
    text-align: right;
}

textarea {
    padding: 8px 6px;
    font-size: 0.9rem;
  }

/* #############---GLOBAL CLASSE---############### */

/* Body Container */
.bodyContainer {
    background-color: var(--container-color);
    padding: 10px 10px 30px 10px;
    border-radius: 8px;
}

/* Container Header, its not NAVBAR */
/* .topHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: var(--secondary-color);
    border: var(--header-border);
    color: var(--headerFont-color);
    border-radius: 8px;
    padding: 8px;
} */

.topHeader {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--secondary-color);
    border: var(--header-border);
    color: var(--headerFont-color);
    border-radius: 8px;
    padding: 8px;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-between;
}

.topHeader h4 {
    font-size: 1rem;
}

.topHeader h4 a {
    text-decoration: none;
    color: var(--headerFont-color);
    font-size: 1.5rem;
}


/* THIS CLASS USE FOR CREATE CONTENT WITHIN BODY */
.subContainer {
    background-color: var(--primary-color);
    border: var(--subcontainer-border);
    border-radius: 8px;
    padding: 4px;
}

 /* THIS CLASS IS USE FOR SEARCH TABLE AND ADD TABLE ITEM */
.searchAdd {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /*height: 80px;*/
    padding: 8px;
}

.searchAdd input[type=text] {
    width: 33% !important;
    /* height: 25px !important; */
    font-size: 1rem !important;
    border: 2px solid black;
}


button{
    /* width: 90px; */
    height: 30px;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 4px 4px;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
    color: white;
}



.btnPlus {
    /* THIS CLASS FOR + SINE BESIDE ANY DROP-DWON AREA */
    width: 20px;
    height: 20px;
    background-color: cornflowerblue;
    border-radius: 4px;
    color: white;
    margin-left: 8px;
    font-size: 16px;
    padding: 0px;
}
.btnPlus:hover{
    background-color: var(--primary-color);
    color: white;
}

.btnAdd {
    /* THIS CLASS IS USE FOR ADD BUTTON FOR ANY SECTION */
    background-color: rgb(120, 200, 10);  
   min-width: 90px;
 
}
.btnAddCustom {
    /* THIS CLASS IS USE FOR ADD BUTTON FOR ANY SECTION */
    background-color: rgb(120, 200, 10);  
   /*  min-width: 90px;*/
    width: 232px;
    height: 43px;
    font-size: 1.2rem;
}

.btnBackCustom {
    background-color: rgb(150, 75, 75);
    /* min-width: 90px; */
    width: 256px;
    height: 43px;
    font-size: 1.2rem;
    margin-left: 5px;
}

.btnDetails {
    background-color: rgb(120, 200, 10);
    width: 80px;
}
.btnPrint {
    background-color:rgb(105, 175, 178);
    min-width: 90px;
}

.btnClose {
    background-color: rgb(150, 75, 75);
    min-width: 90px;
}

.btnSave {
    background-color: rgb(110, 190, 110);
    min-width: 90px;
}

.btnSubmit {
    background-color: rgb(13, 156, 109);  
   font-size: 0.75rem;
   height: 20px;
   padding: 0px 4px;
 
}
.btnAccept {
    background-color: rgb(13, 101, 156);  
   font-size: 0.75rem;
   height: 20px;
   padding: 0px 4px;
 
}
.btnApprove {
    background-color: rgb(3, 98, 41);  
   font-size: 0.75rem;
   height: 20px;
   padding: 0px 4px;
 
}
.btnReturn {
    background-color: rgb(236, 55, 94);  
   font-size: 0.75rem;
   height: 20px;
   padding: 0px 4px;
 
}
.btnPost {
    background-color: rgb(120, 200, 10);
    min-width: 90px;
}

.btnUpdate {
    background-color: rgb(120, 200, 10);
    min-width: 90px;
}
.btnSales{
    width: 100%;
    background-color: green;
    border: none;
    /* border-radius: 0px; */
    margin-top: 4px;
    align-self: flex-end;

}

.btnDisable {
    background-color: rgb(186 191 186);
    min-width: 90px;
    height: 43px;
}
.btnDisable:hover{
    background-color: rgb(186 191 186);
    /* border-color: #7f9ca6; */
    color: white;
}


/* THIS CLASS TO ADJUST DROPDOWN AND + BUTTON ASSIGNED ON SELLECTION DIV */
.plusGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plusGroup :nth-child(1) {
    /* TO ADJUST DROPDOWN-BAR WHERA 25px PLUS BUTTON  PRESENT AT RIGHT SIDE*/
    width: calc(100% - 28px);

}

/* #######------ STYLE FOR GLOBAL TABLE -------####### */

.tableGlobal {
    width: 100%;
    border: var(--table-borderAround);
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 5px; 
}

.tableGlobal th {
    background-color: var(--secondary-color);
}

.tableGlobal
th,
td {
    font-size: .8rem;
    text-align: left;
    padding: 2px 4px 2px 3px;
}

tr:nth-child(even) {
    background-color: var(--table-rowEvenBackground);
}

tr:nth-child(odd) {
    background-color: var(--table-rowOddBackground);
}

.tableGlobal tr th select {
    /* THIS CLASS USE FOR ADJUST DROPDOWN AREA INSIDE TABLE HEAD */
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    font-size: .8rem !important;
    background-color: lightgray;
}

.pagination {
    /* THIS CLASS USED FOR TABLE PAGINATION */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* border: 1px solid black; */
    width: 100%;
}

.pagination a {
    color: var(--paginationFont-color);
    background-color: var(--secondary-color);
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    padding: 2px 8px;
    margin-left: 4px;
}

.pagination a:hover {
    color: var(--primary-color);
}

.pagination label {
    font-size: 1rem;
    margin: 0px 12px;
}


/* FOOTER DESIGN */
.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background-color: var(--secondary-color);
    border: var(--header-border);
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer h6{
    color: greenyellow;
}


/* LOGIN DESIGN */
.LoginBody {
    /* background-color: var(--container-color);
    height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

}

.loginContainer {
    background-color: bisque;
    border: 2px solid var(--secondary-color);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
   /*  height: 235px; */ 
    height: auto;  
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    /* Adjust styles for screens with a maximum width of 767px (typical for mobile devices) */
    .loginContainer {
        width: 100%;
    }
}

.loginHeader {
    background-color: var(--primary-color);
    border-radius: 8px 8px 0px 0px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.userLogin {
    width: 90%;
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 8px; 
}

.userLogin input[type=text],
.userLogin input[type=password]{
    height: 32px; 
    font-size: .8rem;
    border: var(--input-border);
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px; /* Adjust as needed */
    width: 100%;
}
.userLogin label{
    font-size: .8rem;
    padding-top: 6px;
    padding-right: 8px;
}

.userLogin i {
    margin-bottom: 10px;
    top: 50%;
    right: 5px;
    background-color: rgb(231, 243, 255);
    padding: 8px;
    cursor: pointer;
    margin-top: 0px;
    border: 1px solid #ccc; /* Add border */
    border-top-right-radius: 4px; /* Adjust the radius as needed */
    border-bottom-right-radius: 4px; /* Adjust the radius as needed */
  }

.btnLogin{
    /* background-color: var(--primary-color);
    margin-right: 20px; */
    background-color: var(--btnAdd-color);
   /* margin: 10px auto;*/
    padding: 5px;
    border-radius: 5px;
    color: brown;
    cursor: pointer;
    width: 60px;
}
.btnLoginDiv{
    margin: 0px 0px 15px 0px;
}
.loginContainer span{
    color: black;
    font-size: .6rem;
    align-self: center;
    /* margin-top: 10px; */
    /* padding: 4px; */
}
.loginContainer a{
    text-decoration: none;
    color: white;
}



/*Added by Rubel*/
input {
    /* -webkit-appearance: none; */
    border: 1px solid gray;
    padding: 2px;
    /* width: 100%; */
    max-width: 100%;
    /* background: #f0f0f0; */
  }

.btn-table-sort {
    margin: 0px;
    padding: 0px;
    width: 12px;
    background: none;
    border: none;
    height: auto;
}
.MuiSvgIcon-root{
    cursor:pointer;
    /* height: 0em !important; */
}

.table-edit-icon{
    color:black;
    height: 16px !important;
}

.table-delete-icon{
    color:red;
    height: 16px !important;
}

.table-view-icon{
    color:black;
    height: 16px !important;
}


.validation-style {
    border: 2px solid red !important;
}

.permission_card{
    text-align: center;
    padding-top: 20px;
}

.text-center{
    text-align: center !important;
}
.goto_btn{
    background: red;
    text-decoration: none;
    padding: 5px;
    color: white;
    border-radius: 5px
}

.pt-10{
    padding-top: 10px;
}

.chosen_dropdown_font {
	/* font-size: 12px !important; */
	font-size: 0.8em !important; 
}
.chosen_dropdown input{
    padding: 8px 6px !important;
	height: 10px;
    background-color:var(--bg-color);
    font-size: 0.8em !important; 
	/* font-size: 12px !important; */
    width: 100% !important;

}


.swal-button {
    padding: 8px 24px;
}

.mt-10{
    margin-top: 10px !important;
}


.formControl {
    width: 100%;
    /*border-radius: 8px;*/
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formControl label {
    font-size: 0.9em;
    /* font-weight: bold;*/
    padding-top: 1px;
    text-align: end;
    padding-right: 8px;
}

.formControl select {
    border: var(--input-border);
    border-radius: 4px;
    /* width: calc(100% - (38px)); */
}

.grid-container {
    width: 100%;
}

.btnAddForm {
    text-align: center;    /* Center the button horizontally */
    margin-top: 15px; 
    margin-bottom: 50px;  /* Add a margin of 10px at the bottom */
  }

  .marginBottom {
    margin-bottom: 10px;  /* Add a margin of 10px at the bottom */
  }

  .formControl-filter {
    /* width: 100%; */
    border-radius: 8px;
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.formControl-filter label {
    font-size: 0.9em;
    /* font-weight: bold;*/
    padding-top: 7px !important;
    text-align: end;
    padding-right: 8px;
}

.formControl-filter select {
    border: var(--input-border);
    border-radius: 4px;
    /* width: calc(100% - (38px)); */
}

/* .MuiIconButton-root {
    display: none !important;
} */

.MuiInput-underline:before {
    display: none !important;
}


.MuiInput-underline:after {
    display: none !important;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
    padding-right: 2px !important;
}

.MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot, .MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
    padding-right: 0px !important;
}

input[type=search] {
    width: 100%; 

}
.checkbox-group-type {
    display: flex;
    flex-wrap: wrap;
}
.bordertop {
     border-top: 1px solid #757373;
}
.bordertopmenu {
     border-top: 1px solid #fafafa;
}
.fontbold{
    font-weight: bold;
}
.displaynone{
    display: none !important;

}

.autocompleteContainer {
  display: flex;
  align-items: center;
}

.specificAutocomplete {
    width: 90%;
  }


  .tg-nlfa {
    background-color: green;
  }
  
  .tg-22sb {
    background-color: yellow;
  }
  
  .tg-dhoh {
    background-color: orange;
  }


  .tg-dhohs input.numberInput {
    width: 100% !important;
    max-width: 100% !important;
}

.fullWidthSelect {
    width: 100%;
    padding: 6px;
}

.middleButton {
    display: block;
    margin: 0 auto;
    width: 150px;
    background-color: #3c3cd2;
}


  .tg-nlfa {
    background-color: green;
  }
  
  .tg-22sb {
    background-color: yellow;
  }
  
  .tg-dhoh {
    background-color: orange;
  }


  .tg-dhohs input.numberInput {
    width: 100% !important;
    max-width: 100% !important;
}

.fullWidthSelect {
    width: 100%;
    padding: 6px;
}

.middleButton {
    display: block;
    margin: 0 auto;
    width: 150px;
    background-color: #3c3cd2;
}

.tg {
    table-layout: fixed;
  }
  
  .tg-sl {
    width: 65px;
    max-width: 65px;
    text-align: center;
  }
  
  .tg-zv4m {
    width: 120px;
    max-width: 120px;
  }
  
  .tg-22sb {
    width: 90px;
    max-width: 90px;
  }
  
  .tg-dhoh {
    width: 90px;
    max-width: 90px;
  }
  
  .tg-nlfa {
    colspan: 4;
  }
  
  .fullWidthSelect {
    width: 100%;
  }
  
  
  .fa-trash-alt {
    color: red;
  }

  .image-preview {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 2px solid #c8baba; /* Add a border style */
    box-sizing: border-box; /* Include the border in the box model */
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .table-image {
    width: 100px; /* Set the desired width for the images */
    height: auto; /* Maintain the aspect ratio */
  }

  .tooltip-icon {
    position: relative;
    display: inline-block;
    
}

.tooltip-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tooltip-icon:hover::after {
    opacity: 1;
    visibility: visible;
}

.info-icon{
    color:rgb(47, 121, 231);
    height: 16px !important;
}

.btnDetailsLatLong {
    background-color: rgb(120, 200, 10);
    width: 192px;
}

.wrapper{
    margin: 20px;
  }
  .mt-10{
    margin-top: 10px;
  }

  .exportAdd {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /*height: 80px;*/
    padding: 8px;
    justify-content: flex-end;
}


.formControl-filter-data {
    /* width: 100%; */
    border-radius: 8px;
    padding: 4px;
   /*  display: grid; */
    grid-template-columns: 1fr 1fr;
}

.formControl-filter-data label {
    font-size: 0.9em;
    /* font-weight: bold;*/
    padding-top: 4px !important;
    text-align: end;
    padding-right: 8px;
}

.formControl-filter-data select {
    border: var(--input-border);
    border-radius: 4px;
    /* width: calc(100% - (38px)); */
}


.formControl-filter-data-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}
  
.dropdown_filter {
    height: 31px;
    width: 200px;
    padding: 6px;
    border: 2px solid black;
}

.searchAdd2 {
    display: grid;
    row-gap: 8px;
    padding-left: 10px;
    grid-template-columns: 15% 15% 57% 13%;
}
.searchAdd3 {
    display: grid;
    grid-row-gap: 8px;
    row-gap: 8px;
    padding-left: 10px;
    grid-template-columns: 15% 15% 38% 31%;
}
.searchAdd4 {
    display: grid;
    grid-row-gap: 8px;
    row-gap: 8px;
    padding-left: 10px;
    grid-template-columns: 13% 15% 72% 1%;
}

.filter-button {
    margin-top: 15px;
    text-align: right;
}

.alignRightText{
    text-align: right;
}

.tdWidthc{
    width: 38px;
}







.MuiCardContent-root {
    padding: 10px !important;
  }

.sw_card .MuiCardContent-root .MuiBox-root {
    padding: 10px 0px !important;
  }

  .sw_card .MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 5px 12px !important;
  }
  .sw_card .MuiGrid-spacing-xs-3 {
    margin-top: 10px !important;
  }
  .sw_card .MuiCardHeader-root {
    border-bottom: 1px solid #dedede;
    padding: 10px 14px !important;
  }
  .sw_card .MuiCardHeader-root .MuiCardHeader-title {
    font-size: 15px !important;
  }

.stat-cell {
    overflow: hidden;
    padding: 8px;
    position: relative;
    background: #a1a194;
    width: 100%;
    color: #fff;
  }
  .stat-cell .bg-icon {
    bottom: 0;
    font-size: 70px;
    height: 82px;
    line-height: 100px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 120px;
    color: rgba(0, 0, 0, 0.08);
  }
  .text-xlg {
    font-size: 1.5em;
  }
  .text-bg {
    font-size: 17px;
  }

  .margin0auto{
    margin: 0 auto !important;
  
  }
  
  .stat-cell-color-a {
    background: #208bb8;
  }
  .stat-cell-color-b {
    background: #8f5992;
  }
  .stat-cell-color-c {
    background: #667d2c;
  }
  .stat-cell-color-d {
    background: #029bb0;
  }
  .stat-cell-color-e {
    background: #1eab82;
  }

.dashboardCard {
    margin-top:7px;
    margin-bottom:7px;
    display: grid;
    grid-template-columns: 50% 50% 57% 13%;
}

.margin-left10 {
    margin-left: 10px;
}


.iconPositionRight {
    z-index: 2;
    position: absolute;
    right: 3px;
    top: 6px;
  }
  
  a.HyColor:hover, a.HyColor:focus {
      color: #000704;
  }
  
  .iconPositionRight2 {
      
      position: absolute;
      right: 64px;
      top: 0px;
  }
  
  .backgroundImg {
    min-height: 700px;
    background-repeat: no-repeat;
  }


  .page-header .content-center {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    padding: 15px 15px;
    width: 100%;
    max-width: 880px;
}

.bg-home {
    /* background: rgba(63,81,181,.6); */
    background: rgba(48, 55, 93, 0.6);
    border-radius: 10px;
    padding-top: 20px!important;
}

.brand .h1-seo, .navbar .navbar-brand {
    text-transform: none!important;
}

.brand .h1-seo {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 300;
}

.page-header .container {
    height: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
}

.page-header>.container {
    z-index: 2;
    padding-top: 12vh;
    padding-bottom: 40px;
}

.container {
    max-width: 1140px;
}

.container {
    max-width: 960px;
}

.container {
    max-width: 720px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.menuListBar {
    z-index: 3;
}

.btnSelect {
    background-color: rgb(10, 109, 134);
    font-size: 0.75rem;
    height: 30px;
    padding: 0px 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.searchAdd5 {
    display: grid;
    grid-row-gap: 8px;
    padding-left: 6px;
    grid-template-columns: 17% 17% 17% 40%;
    align-items: baseline;
    justify-content: space-between;
}



.modalItemFixed {
    height: 300px; /* Set the desired height */
    overflow-y: auto;
  }
  
  /* If you want to style the scrollbar, you can use the following CSS */
  .modalItemFixed::-webkit-scrollbar {
    width: 12px;
  }
  
  .modalItemFixed::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  .modalItemFixed::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  
  /*none pg table*/
  .newTableDivNonpg {
    overflow-x: auto;
  }

  .tg-Nonpg {
    width: 100%;
    border-collapse: collapse;
  }

  .tg-Nonpg-nlfa {
    background-color: #95bc666b;
  }
  .tg-Nonpg-22sb {
    background-color: #add1f170;
    max-width: 130px;
  }

  .tg-Nonpg-33sb {
    background-color: #add1f170;
    max-width: 118px;
  }

  .tg-Nonpg-44sb {
    background-color: #add1f170;
    max-width: 124px;
  }


  .tg-Nonpg td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  
  .tg-Nonpgtitle {
    font-weight: bold;
  }

  .NonpgOdd {
    background-color: #1cc7d44d;
  }
  .NonpgEven {
    background-color: #0972c45c;
  }
  
  
 
 
  
  .formControl-mobile {
    flex-direction: column;
    align-items: flex-start;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 2px 15px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .formControl-mobile {
        flex-direction: row;
        align-items: center; /* Updated to center the items vertically in the row */
    }

    .formControl-mobile label {
        margin-right: 15px; /* Add some spacing between the label and input on desktop */
    }
}

.modalItem-mobile {
    display: flex;
    justify-content: center; /* Align items horizontally in the center */
    padding-top: 10px;
}

.modalItem-mobile .btnSave{
    margin-left: 10px;
}